/* Fonts */

@font-face {
    font-family: vt323;
    src: url(VT323-Regular.ttf);
}

/* Parts of the page */

body {
  background-color: #474747;
  font-family: 'vt323';
}

.button{
    font-family: 'vt323';
  }

head {
  font-family: 'vt323';
}

/* Text Blocks (Around Text) */

.text-block {
  color: white;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 30px;
  border-style: solid;
  border-width: medium;
  border-color: #000000;

}

.text-block-alternate {
  color: white;
  background-color: #000000;
  margin: 50px;
  border-style: solid;
  border-width: medium;
  border-color: #149414;
}

.text-block-page-name {
  color: white;
  background-color: #000000;
  margin: 50px;
  display: flex;
  justify-content: left;
  border-style: solid;
  border-width: medium;
  border-color: #149414;
}

/* Text paragraphs (The text itself)*/
.text-paragraph {
  color: black;
  font-size: 36px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
  border-width: 30px;
  border-style: solid;
  border-color: #ffffff;
}

.text-paragraph-blank {
  color: white;
  font-size: 36px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 0px;
  text-align: left;

}

.text-paragraph-alternate {
  color: white;
  font-size: 36px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
  border-width: 30px;
  border-style: solid;
  border-color: #000000;
}

.text-paragraph-page-name {
  color: white;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 62px;
  text-align: left;

}

/* Image classes and ids*/
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #149414;
  border-style: solid;
  border-width: medium;
  width: 15%;
}

#image-normal{
  display: none;
}

#image-alt{
  display: show;
}

.image-center:hover{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: sepia(80%);;
}

#image-novitech {
  width: 30%;
  
}



/* Navbar */
.navbar {
  list-style-type: none;
  display: flex;
  gap: 3em;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.navbar-block {
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: #474747;
  color: #fff;
}

.navbar-block-lower {
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: #474747;
  color: #fff;
}

/* Buttons */


#listButton-active {
  border: 5px;
  border-color: #0E6B0E;
  border-style: solid;
  
}

#listButton-active:hover {
  font-family: 'vt323';
  border: 5px;
  border-color: #ffffff;
  border-style: solid;
  
  
font-size: 14px;

display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color: #0E6B0E;

}

.listButtonBottom {
  font-family: 'vt323';
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #000000;
  cursor: pointer;

}

.listButtonBottom:hover {
  font-family: 'vt323';
  background-color: #0E6B0E;
  transition: 0.3s ease;
  border: 5px;
  border-color: #ffffff;
  border-style: solid;
  filter: drop-shadow(10px 10px 10px  green);
  transform: rotate(2deg);
}

.listButton {
  font-family: 'vt323';
  font-size: 14px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #000000;
  cursor: pointer;

}

.listButton:hover {
    font-family: 'vt323';
  background-color: #0E6B0E;
  transition: 0.3s ease;
  border: 5px;
  border-color: #ffffff;
  border-style: solid;
  filter: drop-shadow(10px 10px 10px  green);
  transform: rotate(2deg);
}


.actionButton {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #000000;
  font-size: 36px;
  cursor: pointer;

}

.actionButton:hover {
  background-color: #0E6B0E;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 5px;
  border-color: #0E6B0E;
  border-style: solid;
  filter: drop-shadow(10px 10px 10px  green);
  transform: rotate(2deg);
  
}

.button-ul {
  list-style-type: none;
  display: flex;
  gap: 3em;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

/* Other Blocks */


.block-resume {
  align-content: left;
}

.block-blank {
  height: 50px;
}