

 /* Parts */

  body {
    background-color: #3F4E4F;
    font-family: 'Roboto';
  }
  head{
    font-family: 'Roboto';
  }

/* Text blocks */

  .text-block{
    color: white;
    background-color: #9B978C;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 30px;
  }

  .brown-text-block{
    color: white;
    background-color: #A27B5C;
    margin: 50px;
  }

  .page-name-div{
    color: white;
    background-color: #A27B5C;
    border-radius: 5px;
    margin: 50px;
    display: flex;
    justify-content: center;
  }

  /* Text paragraphs */
  .text-paragraph{
    color: white;
    font-size: 36px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-width: 30px;
    border-style: solid;
    border-color:#9B978C;
  }
  .text-paragraph-blank{
    color: white;
    font-size: 36px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    text-align: center;
    
  }

  .brown-text-paragraph{
    color: white;
    font-size: 36px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-width: 30px;
    border-style: solid;
    border-color: #A27B5C;
  }
  
  .page-name {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 62px;
    text-align: center;
   
  }

  /* Components */

  .resume-div{
    align-content: left;
  }

  .navbar {
    list-style-type: none;
    display: flex;
    gap: 3em;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .navbar-block{
    display: flex;
    justify-content: center;
   
    padding: 2px;
    background-color: #2C3639;
    color: #fff;

  }

  #active{
    border: 5px;
    border-color: #DCD7C9;
    border-style: solid;
    border-radius: 25px;
  }

  .listObj{
    float: left;
  }

  .listButton{
    border-radius: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #CB7028;
    
  }

  .listButton:hover {
    background-color: #DCD7C9;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 5px;
    border-color: #DCD7C9;
    border-style: solid;
    border-radius: 25px;
  }


  .actionButton{
    border-radius: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color: #CB7028;
    font-size: 36px;
    
  }

  .actionButton:hover {
    background-color: #DCD7C9;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 5px;
    border-color: #DCD7C9;
    border-style: solid;
    border-radius: 25px;
  }

  .block-blank{
    height: 50px;
  }

  #lastOne{
    border-right: none;
  }